@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Poppins", serif;
  font-size: 10px;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

p {
  font-size: 1rem;
}

button {
  width: 17.4375rem;
  height: 6rem;
  border-radius: 60px;
  font-family: "Raleway", serif;
  font-size: 1.5rem;
  background: none;
  border: 1px solid white;
  color: white;
  -webkit-transition: background 300ms ease-in-out, border 200ms ease-out;
  transition: background 300ms ease-in-out, border 200ms ease-out;
}

button:hover {
  background: #FF0513;
  cursor: pointer;
  border: none;
}

section {
  color: white;
}

.slider-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider-image .slider-item {
  border-radius: 40px;
  width: 100%;
  height: 38vh;
  padding: 0 1em;
}

.slider-image .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.slider-image .icon svg {
  margin-bottom: 1em;
}

.slider-image h4 {
  text-align: center;
  font-size: 2rem;
}

.slider-image h5 {
  font-size: 1.875rem;
}

.slider-image p {
  line-height: 3rem;
  font-weight: 200;
}

.slider-image #test-image {
  width: 10.68em;
  height: 10.68em;
}

.slider-image #test-image img {
  width: 100%;
}

.slider-image .feedback svg {
  height: 5em;
}

.slider-image .feedback .start-invert {
  margin-left: -2em;
}

.slider-image .feedback .end-invert {
  width: 100%;
}

.line-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.line-svg svg {
  width: 20em;
}

.rec-carousel-wrapper {
  margin: 7em 0;
}

.rec.rec-arrow {
  background: none;
  border: 1px solid white;
  color: white;
  height: 50px;
  min-width: none;
  line-height: normal;
}

.rec.rec-arrow.rec-arrow-right:hover,
.rec.rec-arrow.rec-arrow-right:focus,
.rec.rec-arrow.rec-arrow-left:hover,
.rec.rec-arrow.rec-arrow-left:focus {
  background: #FF0513;
  border: none;
}

.rec.rec-arrow:disabled {
  visibility: hidden;
}

.rec.rec-dot {
  background: white;
}

.rec.rec-dot_active {
  background: red;
  -webkit-box-shadow: 0 0 1px 3px #FF0513;
          box-shadow: 0 0 1px 3px #FF0513;
}

.rec.rec-dot_active:focus {
  -webkit-box-shadow: 0 0 1px 3px #FF0513;
          box-shadow: 0 0 1px 3px #FF0513;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 13vh;
  z-index: 1;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.7em;
}

nav ul .logo {
  cursor: pointer;
}

nav ul .logo svg {
  height: 51px;
  width: 101px;
}

nav ul .burger-menu,
nav ul .cross-menu {
  cursor: pointer;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

nav ul .burger-menu,
nav ul .cross-menu.active {
  display: block;
}

nav ul .burger-menu.close,
nav ul .cross-menu {
  display: none;
}

nav ul .nav-hover-box {
  display: none;
}

.menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  background: #0E0C38;
  height: 95vh;
  width: 100%;
  z-index: 20;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-items li {
  margin: 2em auto;
  font-size: 1.5rem;
}

.menu-items li a:hover {
  color: #FF0513;
}

.menu-items .nav-btn {
  width: 10em;
  height: 3.5em;
  font-size: 1.5rem;
}

.menu-items.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@media screen and (min-width: 500px) {
  nav ul .logo {
    margin-right: auto;
  }
  nav ul .nav-hover-box {
    padding-bottom: .4em;
  }
  nav ul .nav-hover-box:hover {
    border-bottom: 1px solid #FF0513;
  }
  nav ul li {
    list-style: none;
    padding: 3.5em 1.8em 2.9em 1.8em;
  }
  nav ul li a {
    font-size: 1.5rem;
  }
  nav ul li:hover {
    background: #FF0513;
  }
  nav ul .nav-btn {
    width: 12.625rem;
    height: 4.5rem;
    font-size: 1.5rem;
  }
}

.intro-wrapper {
  padding-top: 14vh;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.intro-wrapper .circle-svg {
  position: absolute;
  z-index: 1;
  -webkit-transform: translate(-35%, -20%);
          transform: translate(-35%, -20%);
}

.intro-wrapper .left-content {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro-wrapper .left-content h1 {
  font-size: 4.5rem;
  line-height: 5rem;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.intro-wrapper .left-content h4 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-size: 2rem;
  font-weight: lighter;
}

.intro-wrapper .left-content h6 {
  font-family: "Raleway", serif;
  font-size: 1.8rem;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  margin-bottom: .9em;
}

.intro-wrapper .left-content p {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  line-height: 4rem;
}

.intro-wrapper .left-content p span {
  color: #FF0513;
}

.intro-wrapper .left-content .social-media {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  margin-bottom: 3em;
}

.intro-wrapper .left-content .social-media svg {
  margin-right: .6em;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.intro-wrapper .left-content button {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
  margin-bottom: 2em;
}

.intro-wrapper .right-content {
  display: none;
}

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 90vh;
}

.about-wrapper .left-content h3 {
  font-size: 2.55rem;
}

.about-wrapper .left-content p {
  line-height: 3.53rem;
  padding: 2.2em 0;
}

.about-wrapper .right-content {
  display: none;
}

.portfolio-wrapper {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

aside h5 {
  font-size: 2rem;
  font-weight: 400;
  padding: .5em 0;
}

aside ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: auto;
  width: 100%;
}

aside ul li {
  font-size: 1.5rem;
}

aside ul li a:hover,
aside ul li .active {
  color: #FF0513;
}

.abilities-wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.abilities-wrapper h3 {
  text-align: center;
  font-size: 2.55rem;
  margin-bottom: .5em;
}

.abilities-wrapper p {
  padding: 1.5em 0;
  text-align: center;
  line-height: 2.5rem;
}

.testinomial-wrapper {
  height: 160vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.title {
  text-align: center;
  font-size: 2.55rem;
  margin-bottom: .5em;
}

.body-text {
  padding: 1.5em 0;
  text-align: center;
  line-height: 2.5rem;
}

.contact-wrapper {
  height: 170vh;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1749px;
  width: 80%;
  margin: 0 auto;
}

.contact-container .vertical-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-container .vertical-svg svg {
  height: 10em;
}

.contact-container h3 {
  text-align: center;
  font-size: 2.55rem;
  margin: .5em 0;
}

.contact-container p {
  padding: 1.5em 0;
  text-align: center;
  line-height: 2.5rem;
  margin-bottom: 1em;
}

.contact-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-container form input {
  width: 100%;
  height: 3.8em;
  margin-bottom: 1.5em;
  border: 2px solid #707070;
  font-size: 1.42rem;
  color: #707070;
  padding-left: 2.14em;
}

.contact-container form .contact-dropdown {
  position: relative;
  width: 100%;
  height: 5.8em;
  margin-bottom: 2em;
  border: 1px solid #707070;
}

.contact-container form .contact-dropdown select {
  padding-left: 2.14em;
  color: #707070;
  font-size: 1.42rem;
  width: 100%;
  height: 3.8em;
}

.contact-container form textarea {
  width: 100%;
  height: 25vh;
  font-size: 1.42rem;
  color: #707070;
  padding-left: 2.14em;
  padding-top: 1.78em;
  margin-bottom: 3em;
}

.contact-container form input:focus,
.contact-container form select:focus,
.contact-container form textarea:focus {
  outline: none;
  -webkit-box-shadow: 0 0 10px #FF0513;
          box-shadow: 0 0 10px #FF0513;
  color: black;
}

.footer-wrapper {
  height: 60vh;
}

.footer-wrapper .vertical-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-wrapper .vertical-svg svg {
  height: 5em;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1749px;
  width: 80%;
  margin: 0 auto;
}

.footer-container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-container .logo svg {
  width: 10em;
}

.footer-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 2em;
}

.footer-container ul li {
  font-size: 1rem;
  font-weight: 600;
  margin: 0 .5em;
}

.footer-container ul li span {
  margin: 0 .5em;
}

.footer-container p {
  font-weight: 600;
  text-align: center;
  margin-bottom: 2em;
}

.footer-container .social-media svg {
  margin: 1.5em .5em;
}

.wrapper-primary {
  background: #0E0C38;
}

.wrapper-secondary {
  background: #040221;
}

.margin-container {
  max-width: 1749px;
  width: 90%;
  margin: 0 auto;
}
/*# sourceMappingURL=App.css.map */