.about-wrapper {
    @include flex-container(align-items, row, center);
    height: 90vh;
    .left-content {
        h3 {
            font-size: $primaryFontSize;
        }

        p {
            line-height: 3.53rem;
            padding: 2.2em 0;
        }
    }

    .right-content {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .about-wrapper {
        .left-content {
            width: 45%;
        }
        .right-content {
            width: 45%;
            display: block;
            transform: scale(0.5);
        }
    }
}