.footer-wrapper {
    min-height: 50vh;
    .vertical-svg {
        display: flex;
        justify-content: center;

        svg {
            height: 5em;
        }
    }
}

.footer-container {
    @include flex-container(align-items, column, center);
    max-width: 1749px;
    width: 80%;
    margin: 0 auto;

    .logo {
        @include flex-container(justify-content, row);
        svg {
            width: 10em;
            @font-face {
                font-family: 'freestyle-script-regular';
                src: url('../assets/Freestyle\ Script\ Regular.ttf');
            }
        }
    }

    ul {
        @include flex-container(justify-content, row, space-between);
        margin-bottom: 2em;
        li {
            font-size: $bodyFontSize;
            font-weight: 600;
            margin: 0 .5em;
            span {
                margin: 0 .5em;
            }
        }
    }

    p {
        font-weight: 600;
        text-align: center;
        margin-bottom: 2em;
    }

    .social-media {
        svg {
            margin: 1.5em .5em;
        }
    }
}