header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

nav {
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em 0;
        .logo {
            @include flex-container(align-items, row);
            cursor: pointer;
            svg {
                height: 7.5em;
                @font-face {
                    font-family: 'freestyle-script-regular';
                    src: url('../assets/Freestyle\ Script\ Regular.ttf');
                }
            }
        }

        .burger-menu,
        .cross-menu {
            cursor: pointer;
            transition: all 1s ease;
        }

        .burger-menu,
        .cross-menu.active {
            display: block;
        }

        .burger-menu.close,
        .cross-menu {
            
            display: none;
        }

        .nav-hover-box {
            display: none;
        }

        button {
            display: none;
        }
    }
}

.menu-items{
    @include flex-container(align-items, column);
    justify-content: center;
    position: fixed;
    background: $bgPrimary;
    height: 95vh;
    width: 100%;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;

    li {
        margin: 2em auto;
        font-size: $navBFontSize;
    }

    li a:hover {
        color: $secondaryColor;
    }

    .nav-btn {
        width: 10em;
        height: 3.5em;
        font-size: $navBFontSize;
    }

}

.menu-items.active {
    transform: translateX(0%);
}

// Responsive Display

@media screen and (max-width: 700px) and (min-width: 500px) {
    html {
        font-size: 10px;
    }
}

@media screen and (max-width: 1366px) and (min-width: 700px) {
    html {
        font-size: 12px;
    }
}

@media screen and (min-width: 1024px) {
    nav {
        ul {
            .logo {
                margin-right: auto;

            }

            .burger-menu,
            .cross-menu {
                display: none;
            }
    
            .nav-hover-box {
                display: flex;
                padding-bottom: .4em;
                transition: border 200ms ease;
            }
    
            .nav-hover-box:hover {
                margin-top: -.1em;
                border-bottom: 1px solid $secondaryColor;
            }
            
            li {
                list-style: none;
                padding: 3.1em 1.8em 2.7em 1.8em;
                transition: background 200ms ease-in;
                    
                a {
                    font-size: $navBFontSize;
                    
                }
            }
    
            li:hover {
                background: $secondaryColor;
            }
    
            .nav-btn {
                width: 12.625rem;
                height: 4.5rem;
                font-size: $navBFontSize;
            }

            button {
                display: block;
            }
    
        }
    }
} 