
.intro-wrapper {
    padding-top: 10vh;
    height: 100vh;
    @include flex-container(align-items, row);

    .circle-svg {
        position: absolute;
        z-index: 1;
        transform: translate(-35%, -20%);
    }

    .left-content {
        z-index: 1;
        display: flex;
        flex-direction: column;
        h1 {
            font-size: 4.75rem;
            line-height: 5rem;
            order: 2;
        }

        h4 {
            order: 1;
            font-size: 2.3rem;
            font-weight: lighter;
        }

        h6 {
            font-family: $btnFontFamily;
            font-size: 2rem;
            order: 4;
            margin-bottom: .9em;
        }

        p {
            order: 3;
            line-height: 4.5rem;
            span {
                color: $secondaryColor;
            }
        }

        .social-media {
            order: 5;
            margin-bottom: 3em;
            svg {
                margin-right: .6em;
                transform: scale(0.9);
            }
        }

        button {
            order: 6;
            margin-bottom: 2em;
        }
    }

    .right-content {
        display: none;
    }
}

