.portfolio-wrapper {
    height: 80vh;
    @include flex-container(align-items, row, center);
}

aside {

    h5 {
        font-size: $secondaryFontSize;
        font-weight: 400;
        padding: .5em 0;
    }

    ul {
        @include flex-container(justify-content, row, space-between);
        margin-right: auto;
        width: 100%;

        li {
            font-size: $navBFontSize;
            a:hover,
            .active {
                color: $secondaryColor;
            }
        }
        
    }
}


