.portfolio-wrapper {
    min-height: 40vh;
    @include flex-container(align-items, row, center);
}

aside {

    h5 {
        font-size: $secondaryFontSize;
        font-weight: 400;
        padding: .5em 0;
    }

    ul {
        @include flex-container(justify-content, row, space-between);
        margin-right: auto;
        width: 100%;

        li {
            font-size: $navBFontSize;
            a:hover,
            .active {
                color: $secondaryColor;
            }
        }
        
    }
}

@media screen and (min-width: 500px) and (max-width: 1024px){
    
    
    aside {
        ul {
            width: 60%;
        }
    }
}

@media screen and (min-width: 1024px) {
    aside {
        ul {
            width: 50%;
        }
    }
}


