.testinomial-wrapper {
    height: 100vh;
}

.title {
    text-align: center;
    font-size: $primaryFontSize;
    margin-bottom: .5em;
}

.body-text {
    padding: 1.5em 0;
    text-align: center;
    line-height: 2.5rem;
}
